<%-include("partials/header")-%>
<%-include("partials/navbar")-%>

<section class="terms">
<div class="terms-header">
<h1 class="terms-title">TERMS AND CONDITIONS</h1>
  <p>The following terms and conditions apply to all estimates unless expressly
    modified in writing by Blockscapes, LLC.</p>
</div>
<% terms.forEach (function(term) { %>
<div class="terms-section">
  <h2 class="terms-section-heading"> <%= term.heading %> </h2>
<% for (let i = 0; i < term.num.length; i++){ %>
  <div class="terms-section-detail">
    <h3 class="terms-numbers"> <%= term.num[i] %> </h3>
    <p class="terms-description">
      <%= term.description[i] %>
      </p>
      <% }; %>
  </div>
  <% }); %>


</section>

<%-include("partials/footer")-%>
